<mat-card>
  <mat-card-title>Categories</mat-card-title>
  <mat-card-content>
    <ng-container *ngIf="categories$|async as list else loading">
      <mat-selection-list role="list">
        <ng-container *ngIf="list.length>0 else emptyState">
          <mat-list-option role="listitem" *ngFor="let item of list">{{item}}</mat-list-option>
        </ng-container>
        <ng-template #emptyState>
          Oops no data
        </ng-template>
      </mat-selection-list>
    </ng-container>
    <ng-template #loading>
      <mat-progress-spinner
        [color]="'primary'"
        [mode]="'indeterminate'"
        [value]="50">
      </mat-progress-spinner>
    </ng-template>
  </mat-card-content>
</mat-card>
